body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #e6e6d6;
}

h1, h2 {
    color: #333;
}

label {
    color: #4A4A4A;
    margin-bottom: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #add8e6;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #87CEEB;
}

.container {
    display: flex;
    justify-content: space-between;
}

.vagas-cadastradas, .vagas-disponiveis {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}

.vaga-item {
    border: 1px solid #ccc;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
